@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none;
}

body {
  background-color: var(--bgBlack);
}

:root {
  --greenTheme: #1ed760;
  --bgBlack: #000000;
  --frntBlack1: #121212;
  --frntBlack2: #242424;
  --lightText: #7d7d7d;
  --darkText: #ffffff;
}

.main {
  width: 99.9%;
  height: 100vh;
  background-color: var(--bgBlack);
  margin: auto;
  display: flex;
  position: relative;
}

/* Navigation Section Start */
nav {
  width: 25%;
  height: 100%;
  padding: 10px;
}

/* Logo, Home and Search start*/
.left {
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  background-color: var(--frntBlack1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 4px;
}

.logo > i {
  font-size: 1.3rem;
  cursor: pointer;
}

.logo > i:nth-child(1) {
  color: var(--greenTheme);
  font-size: 2em;
}

.logo > i > span {
  margin-left: 20px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.82);
}

.logo > i > span > span {
  color: var(--greenTheme);
}
/* Logo, Home and Search end*/

/* Song List start */
.songLib {
  padding: 5px;
  width: 100%;
  height: 43%;
  background-color: var(--frntBlack1);
  border-radius: 4px;
  margin-top: 1%;
  overflow: hidden;
}

.songLib > i {
  font-size: 1.3rem;
  padding-bottom: 20px;
  padding: 20px;
}

.songLib > i > span {
  margin-left: 25px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.82);
}

.musicList {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.musicList > ol {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.song {
  width: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  min-width: 192.24px;
  max-width: 600px;
  transition: 0.2s ease-in-out;
}

.song:hover {
  background-color: var(--frntBlack2);
}

.songNum {
  position: relative;
}

.song > .songNum > i {
  position: absolute;
  left: 4px;
  top: 2px;
  font-size: 1.3rem;
  visibility: hidden;
}

.song:hover .fa-play {
  transition: 0.4s ease-in;
  visibility: visible;
}

.song:hover .songNum {
  visibility: hidden;
}

.songImg {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 0, 0.331);
}

.songImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.songInfo {
    width: 40%;
    height: 50px;
  overflow: hidden;
}

.songInfo > h4 {
  color: var(--darkText);
  font-weight: 400;
}

.songInfo > h5 {
  color: var(--lightText);
}

.song > i {
  position: absolute;
  right: 10%;
  cursor: pointer;
}
/* Song list end */

/* Other links Start */
.links {
  width: 100%;
  border-radius: 4px;
  background-color: var(--frntBlack1);
  margin-top: 1%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.links > a {
  text-decoration: none;
  color: var(--lightText);
  font-size: 0.8rem;
}
/* Other links end */

/* Main body content start */
main {
  width: 75%;
  height: 100%;
  padding: 10px;
}

.right {
  width: 100%;
  height: 100%;
  background-color: var(--frntBlack2);
}
/* Main body content end */

/* Player Start */
.player{
    width: 100vw;
    height: 90px;
    background-color: var(--frntBlack2);
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 2px solid var(--greenTheme);
}
